<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout/_layout"
      layout:decorate="layout/_layout">

<body>
 <div layout:fragment="content">
  <!-- Static Table Start -->
            <div class="data-table-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sparkline13-list shadow-reset">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>Liste <span class="table-project-n">des </span> PMO Intervenants sur site</h1>
                                             <div class="sparkline13-outline-icon">
                                         <a th:href="@{/add-acte}" title="ajouter"><button type="button" class="btn btn-custon-four btn-primary"><i class="fa fa-pencil-square-o" ></i>Ajouter</button></a>
                                            <!-- <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        <div id="toolbar">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                            <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="id">ID</th>
                                                    <th data-field="region" data-editable="true">Regions Sanitaires</th>
                                                    <th data-field="district" data-editable="true">District Sanitaires</th>
                                                     <th data-field="pmo" data-editable="true">Partenaires</th>
                                                    <th data-field="lieu" data-editable="true">Etablissement</th>
                                                    <th data-field="debut" data-editable="true">Date de debut</th>
                                                    <th data-field="fin" data-editable="true">Date de fin</th>
                                                    
                                                     <!-- <th data-field="complete">Completed</th>
                                                    <th data-field="task" data-editable="true">Task</th>
                                                    <th data-field="date" data-editable="true">Date</th>
                                                    <th data-field="price" data-editable="true">Price</th>
                                                     -->
                                                    <th data-field="action">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="acte,idx:${acte}">
                                                    <td></td>
                                                    <td th:text="${idx.count}"></td>
                                                    <td th:text="${acte.region?.nom}"></td>
                                                    <td th:text="${acte.district?.nom}"></td>
                                                    <td th:text="${acte.pmo?.pm}"></td>
                                                   	<td th:text="${acte.lieu?.site}"></td>
                                                   	<td th:text="${acte.debut}"></td>
                                                   	<td th:text="${acte.fin}"></td>
                                                  
                                                    <td>
                                                     <a th:href="@{/edit-acte?idacte=}+${acte.id}" title="modifier"><button type="button" class="btn btn-custon-four btn-info"><i class="fa fa-pencil-square-o" ></i>Editer</button></a>
                                                     <a th:href="@{/delete-acte?idacte=}+${acte.id}" title="supprimer"><button type="button" class="btn btn-custon-four btn-danger"><i class="fa fa-trash" ></i>Delete</button></a>
                                                     <!-- <a th:href="@{/details-region?idregion=}+${region.id}" title="lister"><button type="button" class="btn btn-custon-four btn-success"><i class="fa fa-file-text-o" ></i>Details</button></a> -->
                                                    
                                                    
                                                    </td>
                                                   <!--  
                                                    <td>Aber Ltd.</td>
                                                    <td class="datatable-ct"><span class="pie">1/6</span>
                                                    </td>
                                                    <td>10%</td>
                                                    <td>Jul 14, 2018</td>
                                                    <td>$5455</td>
                                                    <td class="datatable-ct"><i class="fa fa-check"></i>
                                                    </td> -->
                                                    
                                                </tr>
                                                
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Table End -->
        </div>
  
   
  


</body>
</html>